@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

header#main-header {
    width: 100%;
    height: 80px;
    background-color: #c610de;
    display: inline-block;
}

header img#main-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    float: left;
}

header label#main-title {
    display: flex;
    font-family: Russo One;
    font-size: 60px;
    float:left;
    margin-top: 4.75%;
    background:  #c610de;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
